{% if has_flash('success') %}
  <div class="alert alert-success">
    {{ retrieve_flash('success') }}
  </div>
{% endif %}
{% if has_flash('error') %}
  <div class="alert alert-danger">
    {{ retrieve_flash('error') }}
  </div>
{% endif %}
