* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eaebec;
}

.container {
    margin: 20px 50px;
    width: 80%;
    margin: auto;
}

.page-title{
    margin-left: 15px;
    font-size: 12px;
}

// HOME

.home-img {
    position: relative;
    text-align: center;

    img{
    width: 100%;  
    // filter: blur(2px);
    }

    .text-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(24, 78, 119);
        font-size: 28px;
        font-weight: bold;
        padding: 20px;
        background-color: white;
      }
}

.home-section {
    margin-top: 50px;
    display: flex;
    a {
        border-radius: 10px;
        padding: 20px 50px;
        margin: auto;
        width: 70%;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }
}

.testimony-container{
    width: 50%;
    margin: auto;

    .testimony-card{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 50px 0px;

        p{
            padding: 0px 10px;
        }

        img {
            width: 300px;
            height: 300px;
        }
    }
}

// NAVBAR

.navbar {
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    .navbar-container {
        display: flex;
        justify-content: space-between;
    }

    .navbar-title {
        color: rgb(24, 78, 119);
        font-weight: bold;
        text-decoration: none;
        font-size: 24px;
    }

    .navbar-menu {
        display: flex;
        ul{
            display: flex;

            li {
                list-style-type: none;
                margin: 0 10px;
                a {
                    color: rgb(24, 78, 119);
                    text-decoration: none;
                    font-size: 1.2rem;

                    &:hover{
                        border-bottom: 2px solid rgb(24, 78, 119);
                    }
                }

                .cart-badge{
                    background-color: red;
                    padding: 2px;
                    color: white;
                    border-radius: 10px;
                }
            }
        }
    }
}

// PRODUCT

.product-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;

    &::after {
        content:"";
        flex: auto;
    }

    .product {
        background-color: #ffffff;
        display: inline-block;
        box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
        min-width: 200px;
        max-width: 200px;
        margin: 20px;
        border-radius: 10px;

        p {
            margin: 5px 0px;
        }
        form{
            min-height: 100%;
        }
        .product-card {
          padding: 5px 10px;
          min-height: 100%;
        }
        .product-title{
            font-weight: bold;
            font-size: 18px;
        }
        .product-description {
            opacity: .8;
        }
        .product-price{
            font-weight: bold;
        }
        .product-btn {
          color: #fff;
          background-color: #0d6efd;
          border: none;
          display: inline-block;
          font-weight: 400;
          line-height: 1.5;
          color: #fff;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          cursor: pointer;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          border-radius: 0.25rem;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      
          &:hover {
            color: #fff;
            background-color: #0b5ed7;
          }
        }
      }
}


// DETAILED PRODUCT

.detailed-product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;

    p,h5{
        font-size: large;
    }

    .product{
        display: grid;
        grid-template-areas: "product-img product-card";
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        height: 200px;

        .product-img{
            grid-area: product-img;
        }
        
        .product-card{
            grid-area: product-card;
            justify-content: space-between;
            height: 100px;

            .btn {
                background-color: #198755;
                padding: 10px;
                color: white;
                border-radius: 10px;
                text-decoration: none;
            }

            .product-price {
                font-weight: bold;
                padding: 2px;
            }
            
        }
    }
}

.same-product-title{
    text-align: center;
}

.same-product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

    .product {
        margin: 15px;
        width: 200px;
        height: 300px;

        .product-card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;

            .product-btn {
                background-color: #198755;
                padding: 10px;
                color: white;
                border-radius: 10px;
                text-decoration: none;
            }

            .product-price {
                font-weight: bold;
                padding: 2px;
            }
            
        }
    }
}

// DETAILED GROWER

.detailed-grower-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;

    p,h5{
        font-size: large;
    }

    .grower{
        display: grid;
        grid-template-areas: "grower-img grower-card";
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        height: 200px;

        .grower-img{
            grid-area: grower-img;
        }
        .product-card{
            grid-area: grower-card;
            justify-content: space-between;
            height: 100px;
        }
    }
}

.grower-product-title{
    text-align: center;
}

.grower-product-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

    .product {
        margin: 15px;
        width: 200px;
        height: 300px;

        .product-card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;

            .product-btn {
                background-color: #198755;
                padding: 10px;
                color: white;
                border-radius: 10px;
                text-decoration: none;
            }

            .product-price {
                font-weight: bold;
                padding: 2px;
            }
            
        }
    }
}

// SORT PRODUCT
.hide{
    display: none;
}

.sort-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);

    .search-container {

        width: 50%;

        .search-input {
            background-color: #fff;
            color: #000;
            border-radius: 10px;
            border: 1px solid rgba(204, 204, 204, 0.589);
            padding: 5px;
            font-size: 18px;
            width: 40%;
            vertical-align: middle;
        }
    }

    .filter-container {

        width: 50%;
        .category-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            &::after{
                content:"";
                flex:auto;
            }

            .category-active{
                .category-name{
                    background-color: #d12f2f;
                    &:hover{
                        color: #fff;
                        background-color: #d70b0b;
                    }
                }
            }
            .category-name{
                margin: 10px;
                    color: #fff;
                    background-color: #2f70d1;
                    border: none;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: middle;
                    cursor: pointer;
                    padding: 0.3rem 0.75rem;
                    border-radius: 0.25rem;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                
                    &:hover {
                      color: #fff;
                      background-color: #0b5ed7;
                    }
            }
        }
    }
}


// CART PRODUCT

.cart-summary {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .cart-orders {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);

        p, h5{
            margin-left: 10px;
        }

        .cart-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;

            .cart-product {
                padding: 10px;
                margin: 15px;
                display: flex;
                flex-direction: row;
                background-color: rgb(243, 243, 243);
                width: 90%;

                .cart-img{
                    object-fit: cover;
                    width: 100px;
                    height: 100px;
                }
            }

            .cart-title{
                font-size: 18px;
            }

            .cart-description{
                opacity: .7;
            }
        
            .cart-quantity{
                display: flex;
                align-items: center;

                span {
                    font-size: 16px;
                    font-weight: bold;
                }
        
                .btn-remove-quantity{
                    margin: 10px;
                    color: #fff;
                    background-color: #d12f2f;
                    border: none;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: middle;
                    cursor: pointer;
                    padding: 0.3rem 0.75rem;
                    border-radius: 0.25rem;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
        
                .btn-add-quantity{
                    margin: 10px;
                    color: #fff;
                    background-color: #2fd165;
                    border: none;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    vertical-align: middle;
                    cursor: pointer;
                    padding: 0.3rem 0.75rem;
                    border-radius: 0.25rem;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
            }
        }
    }

    .cart-form { 
        grid-area: 1 / 3 / 3 / 6; 
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
    }
    .cart-sum {
        grid-area: 3 / 1 / 4 / 3; 
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);

    }

}

// GROWER

.grower-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin: auto;
    margin-top: 20px;

    .grower {
        margin: 15px;
        width: 200px;
        height: 300px;

        .grower-card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;

            .grower-btn {
                background-color: #198755;
                padding: 10px;
                color: white;
                border-radius: 10px;
                text-decoration: none;
            }
        }
    }
}

// FOOTER 

.footer {
    ul {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        li {
            list-style-type: none;
            margin: 10px;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    p{
        text-align: center;
        opacity: .6;
    }
}