* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDF7F2;
}

.container {
  margin: 20px 50px;
}

.page-title {
  margin-left: 15px;
  font-size: 12px;
}

.btn {
  text-decoration: none;
  background-color: #187738;
  color: white;
  padding: 5px 10px;
}

.home-img {
  position: relative;
  text-align: center;
}
.home-img img {
  width: 100%;
  filter: blur(2px);
}
.home-img .text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #184e77;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  background-color: white;
}

.home-section {
  margin-top: 50px;
  display: flex;
}
.home-section a {
  border-radius: 10px;
  padding: 20px 50px;
  margin: auto;
  width: 70%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.testimony-container {
  width: 50%;
  margin: auto;
}
.testimony-container .testimony-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
}
.testimony-container .testimony-card p {
  padding: 0px 10px;
}
.testimony-container .testimony-card img {
  width: 300px;
  height: 300px;
}

.navbar {
  width: 100%;
  padding: 15px;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-title {
  color: #184e77;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}
.navbar .navbar-menu {
  display: flex;
}
.navbar .navbar-menu ul {
  display: flex;
}
.navbar .navbar-menu ul li {
  list-style-type: none;
  margin: 0 10px;
}
.navbar .navbar-menu ul li a {
  color: #184e77;
  text-decoration: none;
}
.navbar .navbar-menu ul li a:hover {
  border-bottom: 2px solid #184e77;
}
.navbar .navbar-menu ul li .cart-badge {
  background-color: red;
  padding: 2px;
  color: white;
  border-radius: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: flex-start;
  margin: auto;
  margin-top: 20px;
}
.product-container .product {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.product-container .product .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.product-container .product .product-card .product-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}

.detailed-product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}
.detailed-product-container p, .detailed-product-container h5 {
  font-size: large;
}
.detailed-product-container .product {
  display: grid;
  grid-template-areas: "product-img product-card";
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  height: 200px;
}
.detailed-product-container .product .product-img {
  grid-area: product-img;
}
.detailed-product-container .product .product-card {
  grid-area: product-card;
  justify-content: space-between;
  height: 100px;
}
.detailed-product-container .product .product-card .btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.detailed-product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}

.same-product-title {
  text-align: center;
}

.same-product-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.same-product-container .product {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.same-product-container .product .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.same-product-container .product .product-card .product-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.same-product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}

.detailed-grower-container {
  display: grid;
  grid-template-areas: "grower-img grower-card";
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  height: 200px;
}
.detailed-grower-container p, .detailed-grower-container h5 {
  font-size: large;
}
.detailed-grower-container .grower {
  height: 200px;
}
.detailed-grower-container .grower .grower-img {
  grid-area: grower-img;
}
.detailed-grower-container .grower .product-card {
  grid-area: grower-card;
  justify-content: space-between;
  height: 100px;
}

.grower-product-title {
  text-align: center;
}

.grower-product-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.grower-product-container .product {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.grower-product-container .product .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.grower-product-container .product .product-card .product-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.grower-product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}

.hide {
  display: none;
}

.sort_container {
  display: flex;
  margin: 30px 0 30px;
}
.sort_container .search_container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 50px 0 50px;
}
.sort_container .search_container .search_bare {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #EEEEEE;
  padding: 5px;
}
.sort_container .search_container .search_bare .search_icon {
  width: 35px;
  height: 35px;
}
.sort_container .search_container .search_bare .search_input {
  box-sizing: border-box;
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px black;
}
.sort_container .filter_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 50px 0 50px;
}
.sort_container .filter_container .category_container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  border-top: solid 1px black;
  padding: 10px 0 10px 0;
}
.sort_container .filter_container .category_container .category {
  background-color: transparent;
  border: solid 1px #174e77;
  border-radius: 10px;
  margin: 0 1% 0 1%;
}
.sort_container .filter_container .category_container .category .category_name {
  color: #174e77;
  margin: 5px;
  border: none;
  background-color: transparent;
}
.sort_container .filter_container .category_container .category-active {
  order: 1;
  background-color: #174e77;
  border: none;
  border-radius: 10px;
  margin: 0 1% 0 1%;
}
.sort_container .filter_container .category_container .category-active .category_name {
  color: #FFFFFF;
  margin: 5px;
  border: none;
  background-color: transparent;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}
.cart-container .cart-product {
  margin: 15px;
  display: flex;
  flex-direction: row;
}
.cart-container .cart-quantity {
  display: flex;
  margin-left: 15px;
}
.cart-container .cart-quantity .btn-remove-quantity {
  color: red;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.cart-container .cart-quantity .btn-add-quantity {
  color: green;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.cart-summary {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.cart-summary .cart-orders {
  border: 1px solid black;
  grid-area: 1/1/4/3;
}
.cart-summary .cart-orders p, .cart-summary .cart-orders h5 {
  margin-left: 10px;
}
.cart-summary .div2 {
  border: 1px solid black;
  grid-area: 1/3/4/6;
}
.cart-summary .div3 {
  border: 1px solid black;
  grid-area: 4/1/6/3;
}
.cart-summary .div4 {
  border: 1px solid black;
  grid-area: 4/3/6/6;
}

.grower-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: flex-start;
  margin: auto;
  margin-top: 20px;
}
.grower-container .grower {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.grower-container .grower .grower-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.grower-container .grower .grower-card .grower-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer ul li {
  list-style-type: none;
  margin: 10px;
}
.footer ul li a {
  text-decoration: none;
  color: black;
}
.footer p {
  text-align: center;
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
