* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaebec;
}

.container {
  margin: 20px 50px;
  width: 80%;
  margin: auto;
}

.page-title {
  margin-left: 15px;
  font-size: 12px;
}

.home-img {
  position: relative;
  text-align: center;
}
.home-img img {
  width: 100%;
}
.home-img .text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #184e77;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  background-color: white;
}

.home-section {
  margin-top: 50px;
  display: flex;
}
.home-section a {
  border-radius: 10px;
  padding: 20px 50px;
  margin: auto;
  width: 70%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.testimony-container {
  width: 50%;
  margin: auto;
}
.testimony-container .testimony-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
}
.testimony-container .testimony-card p {
  padding: 0px 10px;
}
.testimony-container .testimony-card img {
  width: 300px;
  height: 300px;
}

.navbar {
  width: 100%;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-title {
  color: #184e77;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}
.navbar .navbar-menu {
  display: flex;
}
.navbar .navbar-menu ul {
  display: flex;
}
.navbar .navbar-menu ul li {
  list-style-type: none;
  margin: 0 10px;
}
.navbar .navbar-menu ul li a {
  color: #184e77;
  text-decoration: none;
  font-size: 1.2rem;
}
.navbar .navbar-menu ul li a:hover {
  border-bottom: 2px solid #184e77;
}
.navbar .navbar-menu ul li .cart-badge {
  background-color: red;
  padding: 2px;
  color: white;
  border-radius: 10px;
}

.product-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}
.product-container::after {
  content: "";
  flex: auto;
}
.product-container .product {
  background-color: #ffffff;
  display: inline-block;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  min-width: 200px;
  max-width: 200px;
  margin: 20px;
  border-radius: 10px;
}
.product-container .product p {
  margin: 5px 0px;
}
.product-container .product form {
  min-height: 100%;
}
.product-container .product .product-card {
  padding: 5px 10px;
  min-height: 100%;
}
.product-container .product .product-title {
  font-weight: bold;
  font-size: 18px;
}
.product-container .product .product-description {
  opacity: 0.8;
}
.product-container .product .product-price {
  font-weight: bold;
}
.product-container .product .product-btn {
  color: #fff;
  background-color: #0d6efd;
  border: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.product-container .product .product-btn:hover {
  color: #fff;
  background-color: #0b5ed7;
}

.detailed-product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}
.detailed-product-container p, .detailed-product-container h5 {
  font-size: large;
}
.detailed-product-container .product {
  display: grid;
  grid-template-areas: "product-img product-card";
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  height: 200px;
}
.detailed-product-container .product .product-img {
  grid-area: product-img;
}
.detailed-product-container .product .product-card {
  grid-area: product-card;
  justify-content: space-between;
  height: 100px;
}
.detailed-product-container .product .product-card .btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.detailed-product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}
.detailed-product-container .product .product-card .detailed-quantity {
  display: flex;
  align-items: center;
}
.detailed-product-container .product .product-card .detailed-quantity .btn-remove-quantity {
  margin: 10px;
  color: #fff;
  background-color: #d12f2f;
  border: none;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.3rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.detailed-product-container .product .product-card .detailed-quantity .btn-add-quantity {
  margin: 10px;
  color: #fff;
  background-color: #2fd165;
  border: none;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.3rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.same-product-title {
  text-align: center;
}

.same-product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.same-product-container .product {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.same-product-container .product .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.same-product-container .product .product-card .product-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.same-product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}

.detailed-grower-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}
.detailed-grower-container p, .detailed-grower-container h5 {
  font-size: large;
}
.detailed-grower-container .grower {
  display: grid;
  grid-template-areas: "grower-img grower-card";
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  height: 200px;
}
.detailed-grower-container .grower .grower-img {
  grid-area: grower-img;
}
.detailed-grower-container .grower .product-card {
  grid-area: grower-card;
  justify-content: space-between;
  height: 100px;
}

.grower-product-title {
  text-align: center;
}

.grower-product-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.grower-product-container .product {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.grower-product-container .product .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.grower-product-container .product .product-card .product-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.grower-product-container .product .product-card .product-price {
  font-weight: bold;
  padding: 2px;
}

.hide {
  display: none;
}

.sort-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #fff;
  width: 100%;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}
.sort-container .search-container {
  width: 50%;
}
.sort-container .search-container .search-input {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  border: 1px solid rgba(204, 204, 204, 0.589);
  padding: 5px;
  font-size: 18px;
  width: 40%;
  vertical-align: middle;
}
.sort-container .filter-container {
  width: 50%;
}
.sort-container .filter-container .category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sort-container .filter-container .category-container::after {
  content: "";
  flex: auto;
}
.sort-container .filter-container .category-container .category-active .category-name {
  background-color: #d12f2f;
}
.sort-container .filter-container .category-container .category-active .category-name:hover {
  color: #fff;
  background-color: #d70b0b;
}
.sort-container .filter-container .category-container .category-name {
  margin: 10px;
  color: #fff;
  background-color: #2f70d1;
  border: none;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.3rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.sort-container .filter-container .category-container .category-name:hover {
  color: #fff;
  background-color: #0b5ed7;
}

.cart-summary {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.cart-summary .cart-orders {
  grid-area: 1/1/3/3;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}
.cart-summary .cart-orders p, .cart-summary .cart-orders h5 {
  margin-left: 10px;
}
.cart-summary .cart-orders .cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.cart-summary .cart-orders .cart-container .cart-product {
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  width: 90%;
}
.cart-summary .cart-orders .cart-container .cart-product .cart-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.cart-summary .cart-orders .cart-container .cart-title {
  font-size: 18px;
}
.cart-summary .cart-orders .cart-container .cart-description {
  opacity: 0.7;
}
.cart-summary .cart-orders .cart-container .cart-quantity {
  display: flex;
  align-items: center;
}
.cart-summary .cart-orders .cart-container .cart-quantity span {
  font-size: 16px;
  font-weight: bold;
}
.cart-summary .cart-orders .cart-container .cart-quantity .btn-remove-quantity {
  margin: 10px;
  color: #fff;
  background-color: #d12f2f;
  border: none;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.3rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cart-summary .cart-orders .cart-container .cart-quantity .btn-add-quantity {
  margin: 10px;
  color: #fff;
  background-color: #2fd165;
  border: none;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.3rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cart-summary .cart-form {
  grid-area: 1/3/3/6;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}
.cart-summary .cart-sum {
  grid-area: 3/1/4/3;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

.grower-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin: auto;
  margin-top: 20px;
}
.grower-container .grower {
  margin: 15px;
  width: 200px;
  height: 300px;
}
.grower-container .grower .grower-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.grower-container .grower .grower-card .grower-btn {
  background-color: #198755;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer ul li {
  list-style-type: none;
  margin: 10px;
}
.footer ul li a {
  text-decoration: none;
  color: black;
}
.footer p {
  text-align: center;
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
