{% extends 'account/base.html.twig' %}
{% block content %}
  <div class="container grower_page" style="max-width: 600px;">
    <h1 class="mb-4">
      Page Producteur
    </h1>
    <h3 class="grower_products-title">
      Mon compte
    </h3>
    <div>
      <div>
        <form action="" method="post">
          <div>
            <label for="grower_name">Nom</label>
            <input name="grower_name"
              id="grower_name"
              value="{{ grower.name }}" />
          </div>
          <div>
            <label for="grower_adresse">Adresse</label>
            <input name="grower_adresse"
              id="grower_adresse"
              value="{{ grower.location }}" />
          </div>
          <div>
            <label for="grower_email">Email</label>
            <input name="grower_email"
              id="grower_email"
              value="{{ grower.email }}" />
          </div>
          <button>Valider mes modifications</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
