{# <div class="search-container">
  <h4 class="search-title">
    Rechercher
  </h4>

  <div class="search-bar">
    <input class="search-input" type="text" />
  </div>
</div> #}


<div class="search-container">
  <input size="50%"type="text" class="search-input" placeholder="Nom du produit">
</div>