<div class="search_container">
  <h4 class="search_title">
    Rechercher
  </h4>

  <div class="search_bar">
    <img class="search_icon" src="/ressources/search_icon.png" alt="search" />
    <input class="search_input" type="text" />
  </div>
</div>
