<footer class="footer">
    <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/basket">Mon panier</a></li>
        <li><a href="/about">A propos</a></li>
    </ul>
    <p>@2021 | LP Ciasie
</footer>