<footer class="footer">
    <ul>
        <li><a href="/products">Produits</a></li>
        <li><a href="/growers">Producteurs</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/basket">Mon panier</a></li>
    </ul>
    <p>@2021 | LP2 Ciasie</p>
</footer>