{% extends './base.html.twig' %}
{% block content %}
    <header class="home-img">
        <img src="ressources/home-picture_1.jpeg">
        <p class="text-centered">L'endroit de vos produits frais et bon marché.</p>
    </header>
    <main class="product-container">
        {% for val in products %}
                <div class="product">
                    <form method="post" action="/products/addToCart/{{ val.id }}" id="{{ val.id }}">
                    <img src="https://via.placeholder.com/200" class="product-img" alt="produit">
                    <div class="product-card">
                        <h5 class="product-title">{{ val.name }}</h5>
                        <p class="product-description">{{ val.description }}</p>
                        <input type="submit" value="Add to cart" class="btn">
                    </div>
                    </form>
                </div>
        {% endfor %}
    </main>
    <section class="home-section">
        <a class="btn" href="/products">Consulter le catalogue complet</a>
    </section>
<section class="testimony-container">
    <article class="testimony-card">
        <img src="ressources/home-picture-testimony_1.jpeg" >
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
    <article class="testimony-card">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <img src="ressources/home-picture-testimony_2.jpeg" >
    </article>
    <article class="testimony-card">
        <img src="ressources/home-picture-testimony_3.jpeg" >
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
</section>
    {% include 'footer.html.twig' %}
{% endblock %}