{% extends './base.html.twig' %}
{% block content %}
    <div class="page-title">
        <h1>Liste de produits</h1>
    </div>

    <div class="product-container">
            {% for val in products %}
                <div class="product">
                    <img src="https://via.placeholder.com/200" class="product-img" alt="produit">
                    <div class="product-card">
                        <h5 class="product-title">{{ val.name }}</h5>
                        <p class="product-description">{{ val.description }}</p>
                        <a href="#" class="product-btn">Commander</a>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}