{% extends './base.html.twig' %}
{% block content %}

    <div class="cart-summary">
        {% include 'cart/orders.html.twig' %}
        {% include 'cart/billing_info.html.twig' %}
    </div>

{% endblock %}
